.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.centerHeader {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-darkmode {
  background: rgb(23, 22, 26);
  color: white;
  margin-bottom: 20px;
}

.header-ligth {
  background: #f2f2f2;
  color: black;
  margin-bottom: 20px;
}

.button-darkmode {
  background: #282c34;
  border: 1px solid white;
  border-radius: 5px;
  color: azure;
  padding: 10px;
}
.button-ligth {
  color: #282c34;
  border: 1px solid black;
  border-radius: 5px;
  background: azure;
  padding: 10px;
}

.darkmode {
  padding-bottom: 300px;
  background-color: black;
}

.ligth {
  padding-bottom: 300px;
  background-color: white;
}

.character {
  margin-top: 30px;
  width: 30%;
}

.characters {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.character-darkmode {
  background: #282c34;
  color: azure;
}

.character-ligth {
  color: #282c34;
  border: 1px #ccc solid;
  background: azure;
}

.success_color {
  color: rgb(24, 138, 9);
}

.danger_color {
  color: rgb(190, 16, 16);
}
